<!--
  author : chae-joo Lim <shine5311@adain.kr>
  date : 2016. 4. 20.
  description : post list
-->
<template name="postList">

  <div class="posts-list-box ">
    <ul class="list-unstyled">

      {{#each tasks}}
        {{> postListItem}}
      {{/each}}

      <!--
      <li>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          </div>
        </div>
      </li>
      -->
    </ul>
  </div>

</template>