<!--
  author : chae-joo Lim <shine5311@adain.kr>
  date : 2016. 4. 20.
  description : post list item
-->
<template name="postListItem">
  <li class="post-list layout-flex">

    {{#if hasSrc}}
    <div class="list-left layout-item">
      <a href="/post/{{_id}}" class="thumbnail">
        <img class="media-object" src="{{hasSrc}}" alt="{{title}}">
      </a>
    </div>
    {{/if}}

    <div class="list-body layout-item flex">
      <p class="date">{{date}}</p>
      <h4 class="title"><a class="toe" href="/post/{{_id}}">{{title}}</a></h4>
      <p class="user">{{username}}</p>

      <a href="/post/{{_id}}">read more</a>
    </div>

  </li>
</template>