<!--
  author : chae-joo Lim <shine5311@adain.kr>
  date : 2016. 4. 20.
  description : post write
-->
<template name="postView">

  <a href="/">Back</a>
  {{#if Template.subscriptionsReady}}
    {{#with post}}
      <h3>{{title}} {{date}}</h3>
      <div class="inner-view-box">{{{content}}}</div>

      {{#if isOwner}}
      <button class="btn btn-primary btn-post-delete">삭제</button>
      <button class="btn btn-primary btn-post-modify">수정</button>
        <!--
      <a href="/post_write/{{_id}}" class="btn btn-primary btn-post-modify">수정</a>-->
      {{/if}}
    {{/with}}
  {{else}}
    <p>Loading...</p>
  {{/if}}

</template>