<!--
  author : chae-joo Lim <shine5311@adain.kr>
  date : 2016. 4. 20.
  description : post list item
-->
<template name="postListItem">
  <li class="post-list">


    {{#if hasSrc}}
    <div class="media-left">
      <a href="/post/{{_id}}" class="thumbnail">
        <img class="media-object" src="{{hasSrc}}" alt="...">
      </a>
    </div>
    {{/if}}

    <div class="media-body">
      <p class="date">{{date}}</p>
      <h4 class="title"><a href="/post/{{_id}}">{{title}}</a></h4>
      <p class="user">{{username}}</p>

      <a href="/post/{{_id}}">read more</a>
    </div>

  </li>
</template>