<!--
  author : chae-joo Lim <shine5311@adain.kr>
  date : 2016. 4. 20.
  description : header
-->
<template name="header">

  <header class="header-box">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BLOG</a>

        {{> headerSearch}}

        <div class="navbar-right login-box">
          {{> loginButtons}}

          {{#if currentUser}}
          <a href="/post_write" class="btn btn-default navbar-btn" style="margin-left: 10px">글쓰기</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>

</template>