/**
 * 제작 : 임채주, shine5311@adain.kr
 * 날짜 : 2016. 4. 19.
 * 내용 : mixins
**/

/*
===============================================================================
 * flex layout
===============================================================================
*/
@mixin layout-flex() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  white-space: nowrap
}

@mixin layout-item-flex($i) {
  -webkit-box-flex: $i;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $i;         /* OLD - Firefox 19- */
  -webkit-flex: $i;          /* Chrome */
  -ms-flex: $i;              /* IE 10 */
  flex: $i;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}